.wrapper_form{
    width: 100%;
    display: flex;
    justify-content: center;
}
.personaldata{
    background-color: #F5F5F5;
    display: flex;
    align-content: center;
    flex-direction: row;
    width:96%;
    /* justify-content: center; */
    margin-top: 10px;
    border-radius: 20px;
    gap: 10%;
    padding: 20px;
}
.personal1{
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    gap: 20px;
    justify-content: center; 
    
}
.personal2{background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 300px;
    
    
}

.prsnl{
    background-color: #fff;
    text-align: center;
    border:0px ;
    width: 80%;
    height: 55px;
    font-size: 40px;
    border-radius: 20px;
    margin-left: 10%;
    margin-top: 15px;  
}
.showColor {
    background-color: #F1A953;
}
.namer_label{
    margin-left: -5%;
    user-select: none;
}

.butt{
    float: left;
    margin: 10px;
    align-items: center;
    width: 64px;
    height: 40px;
    border: none;
    background-color: transparent;
}
.header{
    color: white;
    font-size:30px;
    font-weight:bolder;
    margin: 15px;
    margin-left: 131px;
}

.group2{
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 100%;
    justify-content: space-between;
    gap: 0%;
} 
.email{
    height: 18px;
    border-radius: 10px;
    width:52%
} 
.temp{
height: 50px;
border-radius: 10px;
    
}
.permnt{
    height: 50px;
    border-radius: 10px;
}
.marstatus{
    height: 18px;
    border-radius: 10px;
}
.pancard{
    height: 18px;
    border-radius: 10px;
}
.aadnum{
    height: 18px;
    border-radius: 10px;
}
.phnnum{
    height: 18px;
    border-radius: 10px;
}
.fname{
    border-radius: 10px;

}
.lname{
    border-radius: 10px;
}
.gen{
    border-radius: 10px;
}
.bloodgrp{
    border-radius: 10px;
}
.button{
    background-color: #F89502;
    border: none;
    padding: 9px;
    margin: 5px;
    border-radius: 6px;
    width: 100px;
    color:white;
}
.cbutton{
   display: flex; 
   /* justify-content: space-around; */
    width: 100%;
    position: relative;
    left: 55%;
    gap:5%
}
.error{
    font-size: small;
    color: red;
}
.labelish{
    display: flex;
    flex-direction: row;
    gap:30px;
}



.form-group {
    position: relative;
    margin-bottom: 20px;
    margin: 0 10px;
  }
  .form-group input {
    width: 83%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
  }
  .form-group label {
    position: absolute;
    left: 12px;
    top: 12px;
    font-size: 14px;
    color: #777;
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
    user-select: none;
   pointer-events: none;

  }
  .form-group input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .form-group input:hover + label,
  .form-group input:not(:placeholder-shown) + label {
    top: -6px;
    font-size: 12px;
    color: #007bff;
    background-color: #ffffff;
    padding: 0 4px;
    border-radius: 4px;
    left: 8px;
  }
 
  .wide{
    width: 170px;
  }
  .selctor {
    width: 87%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    margin-left: 10px;
}
.star{
    color: red;
}
.reporting{
    width: 30%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    margin-left: 10px;
    position: relative;
    left:60px;
}
.group1{
    display: flex;
    flex-direction: row;
    height: 30px;
    border-radius: 20px;
    gap: 100px;
    justify-content: space-between;
}
#thirdrow{
    display:flex;
    flex-direction: row;
}
#forthrow{
    display:flex;
    flex-direction: row;
}



.forgrp {
    position: relative;
    margin-bottom: 20px;
    margin: 0 10px;
  }
  .forgrp input {
    width: 52%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
  }
  .forgrp label {
    position: absolute;
    left: 12px;
    top: 12px;
    font-size: 14px;
    color: #777;
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
    user-select: none;
   pointer-events: none;

  }
  .forgrp input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .forgrp input:hover + label,
  .forgrp input:not(:placeholder-shown) + label {
    top: -6px;
    font-size: 12px;
    color: #007bff;
    background-color: #ffffff;
    padding: 0 4px;
    border-radius: 4px;
    left: 8px;
  }
  .group4{
    display:flex;
    flex-direction: row;
  }
  .closeone{
    gap:2%;
    display:flex;
    flex-direction: row;
  }
  .labelish{
    position: relative;
    left: 0%;
  }

  .distance{
    gap:1%;
  }
  #phoneno{

  }


  .fo {
    position: relative;
    margin-bottom: 20px;
    margin: 0 10px;
  }
  .fo input {
    width: 235%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
  }
  .fo label {
    position: absolute;
    left: 12px;
    top: 12px;
    font-size: 14px;
    color: #777;
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
    user-select: none;
   pointer-events: none;

  }
  .fo input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .fo input:hover + label,
  .fo input:not(:placeholder-shown) + label {
    top: -6px;
    font-size: 12px;
    color: #007bff;
    background-color: #ffffff;
    padding: 0 4px;
    border-radius: 4px;
    left: 8px;
  }



  .f {
    position: relative;
    margin-bottom: 20px;
    margin: 0 10px;
  }
  .f input {
    width: 52%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
  }
  .f label {
    position: absolute;
    left: 12px;
    top: 12px;
    font-size: 14px;
    color: #777;
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
    user-select: none;
   pointer-events: none;

  }
  .f input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .f input:hover + label,
  .f input:not(:placeholder-shown) + label {
    top: -6px;
    font-size: 12px;
    color: #007bff;
    background-color: #ffffff;
    padding: 0 4px;
    border-radius: 4px;
    left: 8px;
  }






  

  .fe {
    position: relative;
    margin-bottom: 20px;
    margin: 0 10px;
  }
  .fe input {
    width: 178%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
  }
  .fe label {
    position: absolute;
    left: 12px;
    top: 12px;
    font-size: 14px;
    color: #777;
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
    user-select: none;
   pointer-events: none;

  }
  .fe input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .fe input:hover + label,
  .fe input:not(:placeholder-shown) + label {
    top: -6px;
    font-size: 12px;
    color: #007bff;
    background-color: #ffffff;
    padding: 0 4px;
    border-radius: 4px;
    left: 8px;
  }


  

  .feemp {
    position: relative;
    margin-bottom: 20px;
    margin: 0 10px;
  }
  .feemp input {
    width: 86%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    margin-left:146%;
  }
  .feemp label {
    position: absolute;
    left: 152%;
    top: 12px;
    font-size: 14px;
    color: #777;
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
    user-select: none;
   pointer-events: none;

  }
  .feemp input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .feemp input:hover + label,
  .feemp input:not(:placeholder-shown) + label {
    top: -6px;
    font-size: 12px;
    color: #007bff;
    background-color: #ffffff;
    padding: 0 4px;
    border-radius: 4px;
    left: 150%;
  }
  .over{
    position:relative;
    left:23%;
    width:56%;
  }
  .together{
    display:flex;
    width:68%;
  }
  .overr{
    position:relative;
    left:43%;
    width:46%;
    gap:5%;
  }
  .widdth{
    width: 70%;
  }


  .finale {
    position: relative;
    margin-bottom: 20px;
    margin: 0 10px;
  }
  .finale input {
    width: 86%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    position: relative;
    left: -3%;
  }
  .finale label {
    position: absolute;
    left: 12px;
    top: 12px;
    font-size: 14px;
    color: #777;
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
    user-select: none;
   pointer-events: none;

  }
  .finale input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .finale input:hover + label,
  .finale input:not(:placeholder-shown) + label {
    top: -6px;
    font-size: 12px;
    color: #007bff;
    background-color: #ffffff;
    padding: 0 4px;
    border-radius: 4px;
    left: 8px;
  }

  .dateselector{
    

  }





  